{% extends 'traffic/layout.html' %}
{% load static %}

{% block title %}Список дорог{% endblock %}

{% block content %}
<div class="d-flex justify-content-between mb-3">
    <h1><img src="{% static 'traffic/icons/road-svgrepo-com.svg' %}" alt="Road Icon" width="24" height="24"> Дороги</h1>
    <a href="{% url 'road_create' %}" class="btn btn-primary">+ Добавить дорогу</a>
</div>
{% if roads %}
    <div class="list-group">
        {% for road in roads %}
        <div class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <strong>{{ road.point_a.name }} → {{ road.point_b.name }}</strong>
                <span class="badge bg-secondary">{{ road.distance_km }} км</span>
            </div>
            <a href="{% url 'road_detail' road.id %}" class="btn btn-sm btn-outline-info">Детали</a>
        </div>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-warning">Нет дорог</div>
{% endif %}
{% endblock %}